{% block styles %}
    <link href="{{ static 'global/css/Carbontask.css'}}" rel="stylesheet">
{% endblock %}

{{ block title }}Political orientation{{ endblock }}
{{ block content }}

Some people describe political affiliation on a left to right spectrum.
Please indicate on the following scale ranging from 1 (extremely left) to 10 (extremely right) how you would classify yourself in terms of political ideology

<div class="radiotable" style="padding-top:2vh; padding-left:1vw;">
<p> Overall, how would you describe your political attitudes and beliefs? </p>
<p style="text-indent: 7vw;">
    extremely left &nbsp;
    {{ for choice in form.conservative_liberal}}
        {{ choice }}
    {{ endfor }}
    &nbsp; extremely right
</p>
</div>

<div>
    {% formfield player.age_year label="Which year were you born?" %}

</div>

{{ next_button }}

{% endblock %}

